<?xml version="1.0"?>
<launch>
	<!-- rviz -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find offboard_py)/rviz/offboard.rviz" />

	<!--node name="pose_to_tf" pkg="offboard_py" type="tf_pub.py" output="screen"/-->
	<node name="obstacle_detector" pkg="offboard_py" type="obstacle_detection.py" output="screen"/>
	<!--node name="mapping_node" pkg="t265_stereo" type="mapping.py" output="screen"/-->

	<!-- Publish a static transformation between base_link and camera_odom_frame -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imx219"
			args="0 0 0 0 1.5707 1.5707 base_link imx219 1000"/>

	<node name="tracker" pkg="offboard_py" type="tracker.py" output="screen"/>
	<!--node name="local_planner" pkg="offboard_py" type="local_planner.py" output="screen"/-->
</launch>